.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: white; */
  margin-bottom: 10px;
}

.widget {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}
